#div1{
  display: flex;
 justify-content: center;

  flex-direction: column;
}
button{
  width: 80px;
  height: 80px;
  margin-top: 50px;
  border-radius: 45px;
  border: 1px springgreen solid;
}
button:hover{
  background-color: black;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}